aiocontextvars==0.2.2
attrs==22.2.0
bech32==1.2.0
Brotli==1.0.9
brotlicffi==1.1.0.0
ConfigParser==6.0.0
contextlib2==21.6.0
cryptography==41.0.5
dl==0.1.0
docutils==0.20.1
ecdsa==0.18.0
email_validator==2.1.0.post1
exceptiongroup==1.2.0
filelock==3.13.1
grpcio_tools==1.54.2
grpclib==0.4.6
HTMLParser==0.0.2
hypothesis==6.90.0
importlib_metadata==6.8.0
ipykernel==6.26.0
ipython==8.18.0
ipywidgets==8.1.1
Jinja2==3.1.2
jsonschema==4.20.0
mock==5.1.0
numpy==1.26.2
ordereddict==1.1
Pillow==10.1.0
pycryptodome==3.19.0
pyOpenSSL==23.3.0
python-dotenv==1.0.0
python_dateutil==2.8.2
railroad==0.5.0
redis==5.0.1
simplejson==3.19.2
Sphinx==7.2.6
thread==0.1.2
toml==0.10.2
tornado==6.3.3
urllib3_secure_extra==0.1.0
win32_setctime==1.1.0
zstandard==0.19.0
loguru==0.7.2
pydantic==1.10.12
tqdm==4.67.1